h1 QUẢN LÝ USERS

form(action="/" ,method="GET")
    label(for="q")='Tìm kiếm: '
    input(type="text" , name='q')
    br
    button Search
ul
    each user in users
        li= user.name 

a(href="/insert") Thêm User