html
    head
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    body
        div(class="container")
            h1 Thêm USER
            form(action="/add" , method="POST")
                label(for="name") Họ và tên &nbsp;
                input(type="text", name="name")
                br
                button(class="text-justify") Add user